<div class="container mx-auto text-center mt-5">
  <h1 class="text-4xl text-red-500 font-bold mb-4">¡Pago Cancelado o Rechazado!</h1>
  <p class="text-xl font-semibold mb-2">Lamentamos informarte que tu pago no ha
    sido procesado.</p>
  <p class="text-lg mb-4">Por favor, verifica tus datos e intenta nuevamente.</p>
  <a href="/products" class="btn btn-accent">Volver al Inicio</a>
</div>