<h2>Chat</h2>
<div class="container">
  <div class="chat-container">
    <div class="chat-messages" id="messageLogs">
    </div>
    <div class="chat-input">
      <input type="text" id="chatBox" placeholder="Escribe un mensaje..." />
      <button id="sendButton" class="btn btn-primary">Enviar</button>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/messages.js"></script>