  
<div >
 <br/>  
    <input id="chatBox">
</div>
<div>
    <p id="messageLogs" class="text-light"></p>
</div>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   <script src="/socket.io/socket.io.js"></script>

    <script src="js/chat.js"></script>
 