<body class="landing-body">
  <div class="landing-container">
    <h1 class="landing-heading">Solicitud de Cambio de Contraseña</h1>
    <form
      action="/api/session/forgot-password"
      method="POST"
      class="landing-form"
    >
      <div class="landing-form-group">
        <label for="email" class="landing-label">Correo Electrónico</label>
        <input
          type="email"
          id="email"
          name="email"
          class="landing-input"
          required
        />
      </div>
      <button type="submit" class="landing-button">Enviar Solicitud</button>
    </form>
  </div>
</body>