<div class="container100vh flex justify-center items-center">
  <div class="form-container-login">
    <p class="title-login">Login</p>
    <form
      class="form-login"
      id="login-form"
      method="POST"
      action="/api/session/login"
      class="needs-validation-login"
      novalidate
    >
      <div class="input-group-login">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="example@mail.com"
        />
      </div>
      <div class="input-group-login">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="*********"
        />
        <div class="forgot-login">
          <a rel="noopener noreferrer" href="/forgot-password">Recuperar
            contraseña</a>
        </div>
      </div>
      <button
        type="submit"
        class="sign-login btn btn-outline btn-primary"
      >Iniciar Sesión</button>
    </form>
    <div class="social-message-login">
      <div class="line-login"></div>
      <p class="message-login">Iniciar con redes sociales</p>
      <div class="line-login"></div>
    </div>
   
    <p class="signup-login">No tienes una cuenta?
      <a rel="noopener noreferrer" href="/register" class="">Registrate</a>
    </p>
  </div>
</div>
