<div class="landing-container">
  <h1 class="landing-heading">Cambio de Contraseña</h1>
  <form action="/api/session/reset-password" method="POST" class="landing-form">
    <div class="landing-form-group">
      <label for="newPassword" class="landing-label">Nueva Contraseña</label>
      <input
        type="password"
        id="newPassword"
        name="newPassword"
        class="landing-input"
        required
      />
      <label for="confirmPassword" class="landing-label">Confirmar Contraseña</label>
      <input
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        class="landing-input"
        required
      />
    </div>
    <button type="submit" class="landing-button">Enviar Solicitud</button>
  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/reset-password.js"></script>