<div class="navbar bg-base-100 p-4">
  <!-- ... Contenido de la barra de navegaci贸n ... -->
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          /></svg>
      </label>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
      >
        <li><a>Item 1</a></li>
        <li>
          <a>Parent</a>
          <ul class="p-2">
            <li><a>Submenu 1</a></li>
            <li><a>Submenu 2</a></li>
          </ul>
        </li>
        <li>
          <a>Parent2</a>
          <ul class="p-2">
            <li><a>Submenu 1</a></li>
            <li><a>Submenu 2</a></li>
            <li><a>Submenu 3</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <a href="/logout"><button class="btn btn-secondary">Cerrar sesion</button></a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/products">Productos</a></li>
      <li tabindex="0">
        <details>
          <summary>Administrador</summary>
          <ul class="p-2">
            <li><a href="/realtimeproducts">Real Time Products</a></li>
            <li><a href="/usersadmin">Gesti贸n de Usuarios</a></li>
          </ul>
        </details>
      </li>
      <li tabindex="0">
        <details>
          <summary>Usuario</summary>
          <ul class="p-2">
            <li><a href="/profile">Datos Personales</a></li>
            <li><a href="/documents">Carga de documentos</a></li>
            <li><a href="/chat">Chat</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
  <div class="navbar-end">
  </div>
</div>
<div
  class="container mx-auto p-8 flex flex-col justify-center items-center h-screen"
>
  <div class="bg rounded-lg shadow p-6 max-w-md w-full">
    <h1 class="text-3xl font-bold mb-4">Carga de Documentos de Validaci贸n</h1>
    <form
      id="documentUploadForm"
      enctype="multipart/form-data"
      class="space-y-4"
    >
      <div class="flex flex-col">
        <label for="countcomp" class="text-lg font-medium mb-2">Comprobante
          Bancario:</label>
        <input
          type="file"
          id="countcomp"
          name="countcomp"
          accept=".pdf"
          required
          class="file-input file-input-bordered file-input-primary"
        />
      </div>
      <div class="flex flex-col">
        <label for="addresscomp" class="text-lg font-medium mb-2">Comprobante de
          Domicilio:</label>
        <input
          type="file"
          id="addresscomp"
          name="addresscomp"
          accept=".pdf"
          required
          class="file-input file-input-bordered file-input-primary"
        />
      </div>
      <div class="flex flex-col">
        <label for="identification" class="text-lg font-medium mb-2">Documento
          de Identificaci贸n:</label>
        <input
          type="file"
          id="identification"
          name="identification"
          accept=".pdf"
          required
          class="file-input file-input-bordered file-input-primary"
        />
      </div>
      <button type="submit" class="btn btn-primary w-full">Cargar Documentos</button>
      <input type="hidden" id="uid" name="uid" value="{{uid}}" />
      <a href="/register" class="btn btn-accent w-full">Volver al registro</a>
    </form>
  </div>
</div>

<script src="/js/uploadFiles.js"></script>